*{
  padding: 0;
  margin: 0;
  outline: 0;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th { margin: 0; padding: 0;  font-family: "微软雅黑"; }
fieldset, img { border: 0; }
ul, ol, li { list-style: none; font-family:'黑体'; }

.container{
  width: 100%;
  height: 2091px;
  margin: auto;
  background-color: #f6f7fb;
  
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.clearfix:before,.clearfix:after {
  content: "";
  
  display: block;
  
  clear: both;
  
  }
  
  .clearfix {
  zoom: 1;
  
  }

.mgr0{
  margin-right: 0!important;
}

.mgt45{
  margin-top: 45px;
}
.mgt175{
  margin-top: 175px;
}
.mgb28{
  margin-bottom: 28px;
}
.mgb36{
  margin-bottom: 36px;
}
