.nav-container{
  width: 100%;
  height: 0.56rem;
  background: url('../img/navBG.png') no-repeat;
  background-size: 100% 0.56rem;
  position: fixed;
  z-index: 999;
}
.nav-logo{
  width: 3.73rem;
  height: 0.56rem;
  float: left;
  
}
.nav-logo img{
  width: 3.73rem;
  height: 0.56rem;
  float: left;
}
.nav-select{
  float: right;
  margin-top:0.10rem;
  margin-right: 1.00rem;
  
  
}
.nav-select li{
  float: left;
  margin-left: 0.15rem;
  
}

.nav-select button{
  width: 0.53rem;
  height: 0.30rem;
  color: #e1e9d4;
  border-radius: 0.30rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 0.1183rem;
}

.nav-select button:hover{
    background-color: #1d3c97;
}


.bannner ul li {
  list-style: none;
  float: left;
  width: 0.25rem;
  height: 0.02rem;
  text-align: center;
  cursor: pointer;
  background-color:#fff;
  margin-left: 0.05rem;
}
.banner {
  width: 100%;
  height: 6.70rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.item{
/* margin-top: 55rem; */
position: absolute;
top: 0;
left: 0;

}
.banner img {
  width: 100%;
  /* height: 401rem; */
  display: block;
  float: left;
}
.banner .banner-page {
  
  position: absolute;
  top: 6.09rem;
  left: 50%;
  transform: translateX(-50%);
  width: 5.51rem;
  height: 0.31rem;
  /* background: url('../img/tabBG.png') no-repeat; */
}
.banner .banner-page ul li{
  float: left;
  margin-right: 5rem;
  width: 0.25rem;
  height: 0.02rem;
  cursor: pointer;
}
.tab{
width: 0.25rem;
height: 0.02rem;
background-color: #fff;
position: absolute;
top: 50%;
}
.current{
/* background-color: blue; */
}

.home-banner{
  
  height: 0.400rem;
  /* background: url('../img/banner.png') no-repeat; */
  /* background-size: 1920rem 676rem; */
  position: relative;
}
.banner-btn{
  position: absolute;
  top: 4.08rem;
  left: 3.56rem;
  width: 3.54rem;
}

.banner-tab{
  position: absolute;
  top: 6.25rem;
  left: 50%;
  transform: translateX(-50%);
  width: 5.51rem;
  height: 0.31rem;
  background: url('../img/tabBG.png') no-repeat;
}
.banner-tab ul li{
  float: left;
  margin-right: 5rem;
  cursor: pointer;
}
.tab{
  width: 0.25rem;
  height: 0.02rem;
  background-color: #fff;
}
.product-center{
  margin-top: -0.04rem;
}
.center-title{
  width: 100%;
  height: 0.62rem;
  background: url('../img/centerBG.png') no-repeat;
  padding-top: 0.11rem;
}
.center-title img{
  display: block;
  margin: auto;
}
.img-CN{
  margin-bottom: 0.10rem!important;
  width: 0.83rem;
}
.img-EN{
  width: 0.60rem;
}
.center-item{
  
  margin-top: 0.36rem;
  /* margin-left: 120rem; */
}
.center-item li {
  float: left;
  width: 2.80rem;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem ;
  background-color: #fff;
}
.item-top{
  width: 100%;
  background-color: #fff;
}
.top-first-img{
  width: 2.80rem;
  height: 1.66rem;
  margin-bottom: 0.12rem;
}
.top-second-img{
  width: 0.07rem;
  height: 0.25rem;
  float: left;
  margin-left: 0.12rem;
}
.item-title{
  color: #000;
  font-size: 0.142rem;
  font-weight: bolder;
  font-family: "黑体";
  float: left;
}
.bottom{
  margin: 0.47rem 0 0.14rem 2.2rem;
  font-size: 0.1065rem;
  color: #898989;
}
.game-download{
  display: inline-block;
  position: relative;
  margin-right: 0.31rem;
  cursor: pointer;
}
.game-download::before{
  content: '';
  display: inline-block;
  width: 0.15rem;
  height: 0.15rem;
  background: url('../img/icon-download.png') no-repeat;
  background-size: 0.15rem 0.15rem;
  position: absolute;
  top: 0;
  left: -0.20rem;
}
.enter-offical{
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.enter-offical::before{
  content: '';
  display: inline-block;
  width: 0.15rem;
  height: 0.15rem;
  background: url('../img/icon-comming.png') no-repeat;
  background-size: 0.15rem 0.15rem;
  position: absolute;
  top: 0;
  left: -0.20rem;
}

.page-left,.page-right,.page li{
  width: 0.33rem;
  height: 0.33rem;
  line-height: 0.33rem;
  border: 0.01rem solid #5c7aa9;
  color: #5c7aa9;
  font-size: 0.142rem;
  font-weight: bold;
  float: left;
  cursor: pointer;
  margin-right: 0.10rem;
}
.page li{
  color: #fff!important;
  background-color: #809ecd;
  font-weight: normal;
}
.page li:hover{
  background-color: #2d5ce8;
}

.page-left,
.page-right{
  background-color: #fff!important;
}

.show-img{
  margin-bottom: 0.93rem;
}
.show-img li{
  float: left;
  margin-left:0.53rem;
}
.show-img li img{
  width: 4.75rem;
  
}
.about-content,
.contact-content{
  width: 10.45rem;
}
.about-content-title,
.contact-content-title{
  width: 100%;
  border-bottom: 0.01rem solid #000;
}
.about-content-title li,
.contact-content-title li{
  float: left;
  font-size: 0.142rem;
  color: #000;
  font-family: "黑体";
  width: 0.96rem;
  padding-bottom: 0.13rem;
  cursor: pointer;
  border-bottom: 0.02rem solid transparent;
  text-align: center;
}
.about-content-title li:hover,
.contact-content-title li:hover{
  border-bottom: 0.03rem solid #5e7ddb;
}
.aboutCurrent{
  border-bottom: 0.03rem solid #5e7ddb !important;
}
.about-content-main{
  height: 1.53rem;
  text-align: left;
  font-size: 0.1183rem;
  color:#898989;
  margin-top: 0.29rem;
}

.about-content-main li{
  margin-bottom:0.23rem
}
.contact-us-controduce{
  height: 1.70rem;
  margin-bottom: 0.41rem;
}
.contact-us-controduce li{
  float: left;
  margin-left: 0.3rem;
}
.contact-us-controduce li img{
  width: 4.22rem;
  margin-top: 0.20rem;
}
.contact-us-controduce li div{
  width: 0.01rem;
  height: 1.09rem;
  background-color: #000;
}
.contact-us-controduce li p{
  width: 4.83rem;
  font-size: 0.1183rem;
  color: #898989;
  text-align: left;
  margin-top:0.15rem;
}
.contact-content-title{
  border-bottom: 0.01rem solid #898989 !important;
}

.contact-content-main{
  height: 2.27rem;
  text-align: left;
  
}

.contact-first-p{
  font-size:0.1183rem ;
  font-family: "黑体";
  color: #898989;
  margin-bottom: 0.21rem;
}

.contact-person,
.contact-email{
  font-size: 0.1302rem;
  color:#181818;
  margin-bottom: 0.09rem;
}

.footer{
  width: 100%;
  height: 1.13rem;

  background: url('../img/footerBG.png') no-repeat;
}

.footer p{
  float: left;
  font-size: 0.0974rem;
  color: #fff;
  text-align: left;
}
/* .footer li:first-of-type{
  margin-top:20px;
  margin-right: 36px;
}

.footer li:last-of-type{
  margin-top: 38px;
  margin-left: 32px;
}
.footer li div{
  width: 1px;
  height: 82px;
  background: #4f4f4f;
} */

.box{
  width: 100%;
  height: 0.50rem;
  position: absolute;
  top: -0.55rem;
  left: 0;
  
}

.box1{
  width: 100%;
  height: 0.10rem;
  position: absolute;
  top: -0.10rem;
  left: 0;
}
.box2{
  width: 100%;
  height: 0.56rem;
  position: absolute;
  top: -0.56rem;
  left: 0;
}

.swiper-container {
  width: 100%;
  padding-top: 0.55rem !important;
}  
.swiper-slide img{
  width: 100%;
  
}
.swiper-pagination-bullet{
  width: 0.25rem !important;
  height: 0.05rem !important;
  border-radius: 0 !important;
}


@media screen and (max-width:450px){
  .nav-select {
    position: absolute;
    top: -40%;
    transform: translateY(-40%);
    right: 0;
  }
  #center-title{
    margin-top: -0.17rem;
  }
  .about-content, .contact-content{
    width: 9.45rem;
  }
}